@page
@model RsvpModel
@{
    ViewData["Title"] = "RSVP";
}

<div class="text-left">
    <h1 class="display-4">RSVP</h1>
    <hr />
    <h2>Welcome @Model.Guest.PartyName!</h2>
    @if (Model.Guest.ReservationState == Data.GuestStates.LoginNoRsvp)
    {
        <p>
            Please let us know if you are able to attend our wedding below.
        </p>
        <div class="row">
            <div class="col-md-3">
                <form asp-page-handler="rsvpYes" method="post">
                    <div class="form-group">
                        <label asp-for="AdultCount">How many adults will be coming?</label>
                        <input asp-for="AdultCount" class="form-control" value="@Model.Guest.Adults" />

                        <label asp-for="KidCount">How many kids will be coming?</label>
                        <input asp-for="KidCount" class="form-control" value="@Model.Guest.Kids" />

                        <label asp-for="SongRequests">Do you have any song requests?</label>
                        <input asp-for="SongRequests" class="form-control" value="@Model.Guest.SongRequests" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">RSVP: Yes, we can come.</button>
                    </div>
                </form>
            </div>
        </div>

        <hr />
        <p>
            If you are not able to attend, please let us know by clicking the button below.
        </p>
        <form asp-page-handler="rsvpNo" method="post">
            <div class="form-group">
                <button type="submit" class="btn btn-secondary">RSVP: No, we cannot attend</button>
            </div>
        </form>
    }
    else
    {
        <p>
            Thank you for replying to our RSVP.
            <br />
            You replied:
            <b>@(Model.Guest.ReservationState == Data.GuestStates.RsvpCanCome ? "RSVP: Yes, we can come." : "RSVP: No, we cannot come.") </b>
        </p>
        <hr />
        <p>
            If you would like to resubmit your RSVP, please click the button below and fill out the RSVP again.
        </p>
        <form asp-page-handler="rsvpReset" method="post">
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Reset RSVP</button>
            </div>
        </form>
    }
</div>
